<% layout('layouts/boilerplate') %>
<body>
  <script>
    const mapToken = "<%=process.env.MAP_TOKEN%>";
    const listing = <%- JSON.stringify(list)  %>;
  </script>
  <div class="container mt-3">
    <div class="row justify-content-center">

      <div class="col-md-8 col-lg-6">

        <h2><b><%= list.title %></b></h2>
        <div class="card mb-3 card-listings">
          <img class="card-img-top show-img" src="<%= list.image.url %>"
            alt="Card image cap">
          <div class="card-body">
            <p class="card-text">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Owned by <b><i><%=
                      list.owner.username
                      %></i></b></li>
                <li class="list-group-item"><%= list.description %></li>
                <li class="list-group-item"> &#8377; <%=
                  list.price.toLocaleString("en-IN") %></li>
                <li class="list-group-item"><%= list.location %></li>
                <div class="list-group-item"><%= list.country %></div>
              </ul>
            </p>
          </div>
        </div>
        <% if(currUser && currUser._id.equals(list.owner._id)) {%>
        <div class="btns show-btns d-flex mb-3">
          <a href="/listings/<%= list._id %>/edit"
            class="btn btn-dark mx-2 edit-btn">Edit this List</a>
          <form action="/listings/<%=list._id%>/?_method=DELETE" method="post">
            <button class="btn btn-dark">Delete this list</button>
          </form>
        </div>
        <% } %>
        <div class="mb-3 mt-3">
          <hr>
          <% if(currUser) { %>
          <h4>Leave a Review</h4>
          <form action="/listings/<%= list._id %>/reviews" method="post"
            novalidate class="needs-validation">
            <div class="mb-3 mt-3">
              <label for="rating" class="form-label">Rating</label>
              <fieldset class="starability-growRotate">
                <input type="radio" id="no-rate" class="input-no-rate"
                  name="review[rating]" value="1" checked
                  aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[rating]"
                  value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]"
                  value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]"
                  value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]"
                  value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]"
                  value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
            </div>
            <div class="mb-3 mt-3">
              <label for="comment" class="form-label">Comment</label>
              <textarea name="review[comment]" id="comment"
                class="form-control" required></textarea>
              <div class="invalid-feedback">
                Please submit some comment for review
              </div>
            </div>
            <button class="btn btn-outline-dark">Submit</button>
          </form>
          <%}%>
          <% if(list.reviews.length>0) { %>
          <hr>
          <div class="row">
            <p><b>All Reviews</b></p>
            <% for(review of list.reviews) { %>
            <div class="card col-5 ms-3 mb-3">
              <div class="card-body">
                <h5 class="card-title">@<%= review.author.username %></h5>
                <p class="starability-result card-text"
                  data-rating="<%= review.rating %>">
                </p>
                <p class="card-text"><%= review.comment %></p>
                <form class="mb-3"
                  action="/listings/<%=list._id%>/reviews/<%=review._id%>?_method=DELETE"
                  method="post">
                  <button class="btn btn-sm btn-dark">Delete</button>
                </form>
              </div>
            </div>
            <% } %>
          </div>
          <% } %>
          <div class="col-md-8 col-lg-6">
            <h3>Where you'll be</h3>
            <div id="map"></div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <script src="/js/map.js"></script>
</body>
